body {
	background-color: lightblue;
}

nav ul{
	list-style:none;
	padding:0;
}

nav li{
	float: left;
	text-align: center;
	width:33.33% 
}

nav a{
	color:navy;
	text-decoration: none; //only links in nav targeted, no underlines
}

nav a:hover {
	text-decoration: underline;
	color:white;
}

h1 {
	text-align: center;	
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	color: darkblue;
}

p, li {
	color:navy;
	font-family: Helvetica, sans-serif;
	font-size:18px;
	line-height:24px; 
}
